<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome to our website</h1>
    <button><a href="{% url "register" %}">Register</a></button>
    <button><a href="{% url "login" %}">Login</a></button>
    <button><a href="{% url "logout" %}">Logout</a></button>
    <button><a href="{% url "profile" %}">Profile</a></button>
    <button><a href="{% url "income" %}">Add Income</a></button>
</body>
</html>